<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Flat UI Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../static/flatui/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../static/flatui/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/flatui/img/favicon.ico">

</head>
<body>

<style>
    body {
        padding-bottom: 200px;
    }
</style>
<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Flat UI</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">Default</a></li>
                <li class="active"><a href="./">Static top</a></li>
                <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="container">
    <h4>Forms</h4>
    <div class="row">
        <div class="col-md-12">
            <h4>Horizontal form</h4>
            <form class="form-horizontal" role="form" action="http://localhost:8082/route/addRoute" method="post">
                <div class="form-group">
                    <label class="col-lg-2 control-label">apiName</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="apiName" placeholder="apiName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">serviceId</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="serviceId" placeholder="serviceId" required="required" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">path</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="path" placeholder="path" required="required" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">url</label>
                    <div class="col-lg-10">
                        <input type="url" class="form-control" name="url" placeholder="url" required="required" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">enabled</label>
                    <div class="col-lg-10">
                        <input type="checkbox" checked data-toggle="switch" data-on-color="success"
                               data-off-color="warning" name="enabled"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->


</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/flatui/js/vendor/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/flatui/js/flat-ui.min.js"></script>
<!--  <script src="../static/flatui/assets/js/application.js"></script>-->
<script>
    $(':checkbox').bootstrapSwitch('onSwitchChange', function () {
        // Do something
        var a = $(':checkbox').bootstrapSwitch('state');
        alert("haha " + a);
    });
</script>
</body>
</html>
