<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../static/flatui/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../static/flatui/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/flatui/img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="../static/flatui/js/vendor/html5shiv.js"></script>
      <script src="../static/flatui/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <h6>Custom colors</h6>
      <div class="row pbl">

        <div class="col-md-2">
          <input type="checkbox" checked data-toggle="switch" data-on-color="success" data-off-color="warning" id="custom-switch-06" />
        </div>

      </div>
    </div><!-- /.container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/flatui/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/flatui/js/flat-ui.min.js"></script>

    <script src="../static/flatui/assets/js/application.js"></script>
  <script>
      $(':checkbox').bootstrapSwitch('onSwitchChange', function() {
          // Do something
          var a=$(':checkbox').bootstrapSwitch('state');
          alert("haha "+a);
      });
  </script>

  </body>
</html>
