<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Loading Bootstrap -->
    <link href="../static/flatui/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Loading Flat UI -->
    <link href="../static/flatui/css/flat-ui.css" rel="stylesheet"/>

    <link rel="shortcut icon" href="../static/flatui/img/favicon.ico"/>
</head>
<body>
hello
</body>
</html>